
html {
    height: 100%;
}

body{
    background-color: #FFF

    
}

img.alta { float: left; height: 150px; width: 220px; }
img.normal { float: center; height: 300px; width: 780px; }

h1 { border-bottom-style: inset;
    font-size: 18px;
}
 
ul {
    margin: 0;
    padding:0;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(47, 0, 255); 
    background: rgb(48, 48, 240);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
}